.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0px;
  width: 150px;
  padding: 10px;
  margin-left: 10px;
}
.image-card {
  display: flex;
  flex-direction: row;
}
.heading {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 600;
}
.para {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 5px;
}
.list {
  font-size: 20px;
  font-family: 'Roboto';
}
.button {
  height: 50px;
  width: 50px;
  background: none;
  outline: none;
  border: 0px;
}
